{% extends 'base.html.twig' %}

{% block title %}Confirmation Email{% endblock %}

{% block body %}
    <div class="container mt-5 text-center">
        <h1>Vérifiez votre boîte mail 📩</h1>
        <p>Un email de confirmation vous a été envoyé. Veuillez cliquer sur le lien dans l'email pour activer votre compte.</p>
    </div>
{% endblock %}
