<hr>


    <h3>Dashboard ADMIN ✅</h3>
    <p>Quelle action voulez-vous effectuer ?</p>
    <ul>

        <li><a href="{{ path('admin_import_users') }}">Importer une liste d'utilisateur</a></li>
        <li>TODO Ajouter un utilisateur manuellement</li>
        <li><a href="{{ path('admin_list_utilisateur') }}">TODO Supprimer/Désactiver un utilisateur</a></li>
        <li>TODO Annuler une sortie </li>


    </ul>

<hr>