<hr>


    <h3>Dashboard ADMIN ✅</h3>
    <p>Quelle action voulez-vous effectuer ?</p>
    <ul>

        <li><a href="{{ path('admin_import_users') }}">Importer une liste d'utilisateur</a></li>
        <li><a href="{{ path('admin_create_utilisateur') }}">Ajouter un utilisateur manuellement</a></li>
        <li><a href="{{ path('admin_list_utilisateur') }}">Supprimer/Désactiver un utilisateur</a></li>
        <li><a href="{{ path('admin_list_sortie') }}">Annuler une sortie</a></li>


    </ul>

<hr>