{% extends 'base.html.twig' %}

{% block title %}Hello AdminDashboardController!{% endblock %}

{% block body %}


    {% include 'admin/partials/_header.html.twig' %}

    <a href="{{ path('admin_list_utilisateur') }}">liste d'utilisateur</a>

{% endblock %}
