.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 1.1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.imgMod{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}