{% extends 'base.html.twig' %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <h1>Oops ! Page non trouvée (404)</h1>
    <p>La page que vous recherchez n'existe pas ou a été déplacée.</p>
    <a href="{{ path('app_main') }}">Retour à l'accueil</a>
{% endblock %}
